body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#1F2937;
}
.container{  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh; /* Adjust as needed */
    flex: 1 1 auto;
}
.header .title{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    background-color: #3882F6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.card .title{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-decoration: underline;
    color: white;
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black; /* Optional */
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    background-color: lightgrey;
}

#create{
    background: greenyellow;
}
#reset{
    background: red;
}

.board div{
    width: 20px;
    height: 20px;
}